<script>
function supports_html5_storage() {
  try {
    localStorage["works"] = "yes";
    return 'localStorage' in window && window['localStorage'] !== null;
  } catch (e) {
    return false;
  }
}
$(document).ready(function() {
  if (supports_html5_storage() !== false) {
    localStorage["storage_enabled"] = "yes";
  }
});

</script>
<h1>Create a poll</h1>
<br />
<div class="col-md-8 col-md-offset-2">
  <% if(messages != '') { %>
    <div class="alert alert-warning" role="alert"><%= messages %></div> 
  <% } %>
  <form class="row" action="/create" method="post" role="form">
    <div class="form-group">
      <label for="question">Question</label>
      <textarea id="question" 
                class="form-control" 
                autocomplete="off" 
                placeholder="How many pecks of pickled peppers did Peter Piper pick?" 
                maxlength="150" 
                rows="3" 
                name="question"><%= refill.question %></textarea>
    </div>
    <div class="form-group">
      <label for="options">Options</label>
      <input id="options0" 
             class="form-control first-input"
             type="text" 
             placeholder="One"
             value="<%= refill.option0 %>"
             autocomplete="off"
             maxlength="100"
             name="option0"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options1" 
             class="form-control first-input" 
             type="text" 
             placeholder="Two" 
             value="<%= refill.option1 %>"
             autocomplete="off"
             maxlength="100"
             name="option1"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options2" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="Way too many to count" 
             value="<%= refill.option2 %>"
             autocomplete="off"
             maxlength="100"
             name="option2"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options3" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="All of them"
             value="<%= refill.option3 %>"
             autocomplete="off"
             maxlength="100"
             name="option3"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options4" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="The rest" 
             value="<%= refill.option4 %>"
             autocomplete="off"
             maxlength="100"
             name="option4"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options5" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="OMG" 
             value="<%= refill.option5 %>"
             autocomplete="off"
             maxlength="100"
             name="option5"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
      <input id="options6" 
             class="form-control hidden-input" 
             type="text" 
             placeholder="Infinity" 
             value="<%= refill.option6 %>"
             autocomplete="off"
             maxlength="100"
             name="option6"
             data-signals-once="true"
             data-signals-name="create-unhide-next-input" />
    </div>

    <button class="btn btn-default btn-lg pull-right btn-success" type="submit">
      <span class="glyphicon glyphicon-saved"></span>
      Create and Vote
    </button>
    <input name="poll-question-submitted" type="hidden" value="1" />

  </form>
