<h2><%= title %></h2>
  <script>
    function supports_html5_storage() {
      try {
        localStorage["works"] = "yes";
        return 'localStorage' in window && window['localStorage'] !== null;
      } catch (e) {
        return false;
      }
    }
    $(document).ready(function() {
      
      // check to see if user is logged in
      if (supports_html5_storage() !== false) {
        localStorage["storage_enabled"] = "yes";
        if(localStorage["logged_in"] !== "yes") {
          loginUser();
        } else {
          //$("input[name='uid']").val(localStorage["uid"]);
        }
      }
      function loginUser() {
        $.ajax({
          type: "POST",
          data: "getUid=1",
          url: "/newuid",
          success: function(msg) {
            if(msg) {
              localStorage["uid"] = msg;
              localStorage["logged_in"] = "yes";
              //$("input[name='uid']").val(localStorage["uid"]);
            }
          }
        });
      }
      function checkVoted() {
        var uid = localStorage["uid"];
        var pollId = "<%= pollId %>";
        $.ajax({
          type: "POST",
          data: "poll="+pollId+"&uid="+uid,
          url: "/checkvoted",
          success: function(msg) {
            // if true render poll
            // dont show questions
            if (msg === "true") {
              displayPlot();
            }
          }
        });
      }
      function checkSumbitted() {
        var uid = localStorage["uid"];
        var pollId = "<%= pollId %>";
        $.ajax({
          type: "POST",
          data: "poll="+pollId+"&uid="+uid,
          url: "/checksubmitted",
          success: function(msg) {
            // if true render poll
            // dont show questions
            if (msg === "true") {
              displayPlot();
            }
          }
        });
      }


      // check to see if user voted

      // if they did hide questions and display plot

      function displayPlot() {
        $("#button_answers").fadeOut("fast");
        var data = <%= data %>;
        $.plot('#placeholder', data, {
          series: {
            pie: {
              show: true,
              radius: 11/16,
              innerRadius: 0.3
            }
          },
          legend: {
            show: false
          }
        }).fadeIn();
        isPlotDisplayed = true;
      }

    });

    // update plot with websockets
  </script>
  <div id="button_answers">
  <% for (var i=0; i<data.answers.length; i++) { %>
    <div class="form-group">
      <button type="button" class="btn btn-default btn-lg" value="<%= data.answers[i] %>" id="id_<%= data.answers[i] %>"><%= data.answers[i] %></button>
      <script>
        $(function(){
          var answer = "<%= data.answers[i] %>";
          var id = "#id_"+answer;
          var poll_id = "<%= pollId %>";
          var uid = localStorage["uid"];
          $(id).click(function() {
            // submit answer to question with ajax
            $.ajax({
              type: "POST",
              data: "poll_id="+poll_id+"&answer="+answer+"&uid="+uid,
              url: "/vote",
              success: function(msg) {
                
                // hide questions
                $("#button_answers").fadeOut("fast");
                
                // render plot
                $.plot('#placeholder', msg, {
                  series: {
                    pie: {
                      show: true,
                      radius: 11/16,
                      innerRadius: 0.3
                    }
                  },
                  legend: {
                    show: false
                  }
                }).fadeIn();
                isPlotDisplayed = true;

              }
            // update plot with websockets
            // update votes with websockets
            });
          });
        });
      </script>
    </div>
  <% } %>
  </div>


<div id="placeholder" style="width: 100%; height: 363px;"></div>

<h3>100 Votes</h3>
<div id="spacer" style="width: 100%; height: 50px;"></div>


<div id="spacer" style="width: 100%; height: 50px;"></div>
<br />
<script>
/*
    if (isPlotDisplayed) {
      
    }
*/
</script>
